<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Knative AI Demo</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        #container {
            width: 100%;
            height: 100%;
        }

        #image {
            height: 80%;
            width: calc(100% - 12px);
            margin: 5px 5px 0;
        }

        #buttons {
            text-align: center;
            padding-top: 20px;
            height: 20%;
        }

        #canvas {
            height: 100%;
            width: 100%;
        }

        #imageSelectButton {
            position: relative;
            overflow: hidden;
            padding: 2px;
            font-size: 3rem;
        }

        #imageSelectInput {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }
    </style>
</head>
<body>

<div id="container">
    <div id="image">
        <canvas id="canvas"></canvas>
    </div>
    <div id="buttons">
        <div id="imageSelectButton" class="btn btn-outline-light btn-lg">
            <span>📷</span>
            <input type="file" id="imageSelectInput" name="image" accept="image/*">
        </div>
    </div>

    <div class="modal" id="loadingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    // iife
    (function () {
        // these are passed in from the server
        const MAX_IMAGE_WIDTH = parseInt("{{ max_img_width }}", 10);
        const MAX_IMAGE_HEIGHT = parseInt("{{ max_img_height }}", 10);

        function debugImage(imageData) {
            try {
                let img = new Image();
                img.onload = function () {
                    console.log("Image dimensions:", img.width, "x", img.height, "ratio:", img.width / img.height, "size:", (imageData.length / 1024).toFixed(2), "Kb");
                    const style = `font-size: 300px; background-image: url("${imageData}"); background-size: contain; background-repeat: no-repeat;`;
                    console.log("%c     ", style);
                };
                img.src = imageData;
            } catch (e) {
                console.error(e);
            }
        }

        function getImageData(image) {
            let canvas = document.createElement('canvas');
            canvas.width = image.naturalWidth;
            canvas.height = image.naturalHeight;

            let ctx = canvas.getContext('2d');
            ctx.drawImage(image, 0, 0);

            return canvas.toDataURL();
        }

        function createScaledDownImage(image) {
            // create a hidden canvas to scale down the image
            let hRatio = MAX_IMAGE_WIDTH / image.naturalWidth;
            let vRatio = MAX_IMAGE_HEIGHT / image.naturalHeight;

            let ratio = Math.min(hRatio, vRatio);
            if (ratio >= 1.0) {
                // no need to scale down
                return getImageData(image);
            }

            let scaledDownWidth = image.naturalWidth * ratio;
            let scaledDownHeight = image.naturalHeight * ratio;

            let canvas = document.createElement('canvas');
            canvas.width = scaledDownWidth;
            canvas.height = scaledDownHeight;

            let ctx = canvas.getContext('2d');
            ctx.drawImage(image, 0, 0, image.width, image.height, 0, 0, scaledDownWidth, scaledDownHeight);

            return canvas.toDataURL();
        }

        class LoadingModal {
            constructor() {
                this.modal = new bootstrap.Modal('#loadingModal', {
                    keyboard: false
                });
                this.hideRequested = false;

                document.getElementById('loadingModal').addEventListener('shown.bs.modal', event => {
                    // we need this as, it is possible that we want to hide the modal before it is shown
                    if (this.hideRequested) {
                        this.modal.hide();
                        this.hideRequested = false;
                    }
                });

                document.getElementById('loadingModal').addEventListener('hide.bs.modal', event => {
                    this.hideRequested = true;
                });

                document.getElementById('loadingModal').addEventListener('hidden.bs.modal', event => {
                    this.hideRequested = false;
                });
            }

            show() {
                this.modal.show();
            }

            hide() {
                this.modal.hide();
            }
        }

        $(document).ready(() => {
            const loadingModal = new LoadingModal();

            const canvas = document.getElementById('canvas');
            let $canvas = $("#canvas");

            // Set canvas size to its visual size to avoid scaling
            canvas.width = $canvas.width();
            canvas.height = $canvas.height();

            const ctx = canvas.getContext('2d');

            let currentImage = null;
            let currentScaledDownImageData = null;
            let currentImageRatio = 1.0;

            function drawImage() {
                // clear canvas
                ctx.clearRect(0, 0, canvas.width, canvas.height);

                // TODO: need to do auto rotation based on image orientation
                let hRatio = canvas.width / currentImage.naturalWidth;
                let vRatio = canvas.height / currentImage.naturalHeight;

                currentImageRatio = Math.min(hRatio, vRatio);
                ctx.drawImage(currentImage, 0, 0, currentImage.width, currentImage.height, 0, 0, currentImage.width * currentImageRatio, currentImage.height * currentImageRatio);
            }

            function callUpload() {
                $.ajax({
                    url: "/upload",
                    type: "POST",
                    data: JSON.stringify({
                        // something like /9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAYEBQYFBAYG
                        "image_b64": currentScaledDownImageData.split(",")[1],
                    }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        // TODO: we're now done with uploading, we will wait for the WS to send us the prediction result
                        // TODO: hide loading overlay when we got the prediction result
                        loadingModal.hide();
                        console.log("Success:", data);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        // TODO hide loading overlay
                        loadingModal.hide();
                        console.log("Error:", xhr.status, "-", xhr.responseText);
                        // TODO show error message
                    }
                });

            }

            $("#imageSelectInput").change(function () {
                loadingModal.show();

                const file = this.files[0];
                if (file) {
                    let reader = new FileReader();
                    reader.onload = function (e) {
                        const imageData = e.target.result;

                        const img = new Image();
                        img.onload = function () {
                            currentImage = img;
                            currentScaledDownImageData = createScaledDownImage(currentImage);
                            debugImage(currentScaledDownImageData);
                            drawImage();
                            callUpload();
                        };
                        img.src = imageData;
                    }
                    reader.readAsDataURL(file);
                }
            });
        });
    })();
</script>
</body>
</html>
